<form asp-controller="Home" asp-action="SendEmailResetPassword">
    <label>Votre e-mail</label>
    <input class="form-control" type="email" placeholder="ex : toto@gmail.com" name="email"/>
    <input type="submit" value="Valider" class="btn btn-danger" />
</form>