@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Bienvenue</h1>
    <p>Bienvenue sur votre application de gestion de projet, connectez-vous pour accéder à vos tableau de bord</p>
</div>
