/* colors */
.yetiForm {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    display: block;
    width: 100%;
    max-width: 400px;
    background-color: #FFF;
    margin: 0;
    padding: 2.25em;
    box-sizing: border-box;
    border: solid 1px #DDD;
    border-radius: 0.5em;
    font-family: "Source Sans Pro", sans-serif;
}

    .yetiForm .svgContainer {
        position: relative;
        width: 200px;
        height: 200px;
        margin: 0 auto 1em;
        border-radius: 50%;
        background: none;
        border: solid 2.5px #3A5E77;
        overflow: hidden;
        pointer-events: none;
    }

        .yetiForm .svgContainer div {
            position: relative;
            width: 100%;
            height: 0;
            overflow: hidden;
            padding-bottom: 100%;
        }

        .yetiForm .svgContainer .mySVG {
            position: absolute;
            left: 0;
            top: 0;
            width: 100%;
            height: 100%;
            pointer-events: none;
        }

    .yetiForm .inputGroup {
        margin: 0 0 2em;
        padding: 0;
        position: relative;
    }

        .yetiForm .inputGroup:last-of-type {
            margin-bottom: 0;
        }

    .yetiForm label {
        margin: 0 0 12px;
        display: block;
        font-size: 1.25em;
        color: #217093;
        font-weight: 700;
        font-family: inherit;
    }

    .yetiForm input[type=email], .yetiForm input[type=text], .yetiForm input[type=password] {
        display: block;
        margin: 0;
        padding: 0 2em 0 1em;
        background-color: #f3fafd;
        border: solid 2px #217093;
        border-radius: 4px;
        -webkit-appearance: none;
        box-sizing: border-box;
        width: 100%;
        height: 65px;
        font-size: 1.55em;
        color: #353538;
        font-weight: 600;
        font-family: inherit;
        transition: box-shadow 0.2s linear, border-color 0.25s ease-out;
    }

        .yetiForm input[type=email]:focus, .yetiForm input[type=text]:focus, .yetiForm input[type=password]:focus {
            outline: none;
            box-shadow: 0px 2px 10px rgba(0, 0, 0, 0.1);
            border: solid 2px #4eb8dd;
        }


    .yetiForm button {
        display: block;
        margin: 0;
        padding: 0.65em 1em 1em;
        background-color: #4eb8dd;
        border: none;
        border-radius: 4px;
        box-sizing: border-box;
        box-shadow: none;
        width: 100%;
        height: 65px;
        font-size: 1.55em;
        color: #FFF;
        font-weight: 600;
        font-family: inherit;
        transition: background-color 0.2s ease-out;
    }

        .yetiForm button:hover, .yetiForm button:active {
            background-color: #217093;
        }

button#showPassword {
    position: absolute;
    background: transparent;
    color: black;
    top: 40px;
    right: 10px;
    width: 5px;
}